{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
    
{% block body %}
<div class="nav">
	<ul class="nav__list">
		<li class="nav__item"><a href="{{ path('homepage') }}">Toutes les tâches</a></li>
		<li class="nav__item"><a class="nav__link" href="{{ path('newTask') }}">Ajouter une tâche</a></li>
		<li class="nav__item"><a class="nav__link" href="{{ path('users') }}">Utilisateurs</a></li>
		<li class="nac__item"><a class="nav__link" href="{{ path('sortTaskByUser', {'sortDigit': 1}) }}">Sort par nom d'utilisateur</a></li>
	</ul>
</div>
<div class="tasks">
<ul class="tasks__list">
{% for task in tasks %}
	<li class="tasks__item">
		<div class="tasks__content">
			<h2 class="tasks__title">{{ task.title }}</h2>
			<p>{{ task.content }}</p>
			<p class="tasks__name">{{ task.user.getName() }}</p>
			{% if( task.done == 0) %}
				<p class="tasks__done">A faire</p>
			{% else %}
				<p class="tasks__done">Fait</p>
			{% endif %}
		</div>
		<div class="tasks__buttons">
			<a class="tasks__button" href="{{ path('deleteTask', {'id': task.id}) }}">Supprimer la tache</a>
			<a class="tasks__button" href="{{ path('editTask', {'id': task.id}) }}">Modifier la tache</a>
		</div>
	</li>
{% endfor %}
</ul>
</div>

{% endblock %}
